{% extends 'layout.html' %}
{% load bootstrap4 %}

{% block content %}

    <div class="container">
        <div class="row">
            <table class="table table-hover table-striped text-center" style="border: 1px solid;">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>조회수</th>
                    </tr>
                </thead>

                <tbody>
                    {% for post in post_list %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.author }}</td>
                            <td>39</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
    

{% endblock %}