{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
            
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        {{ post.title }}
                        <small class="text-muted">
                            {{ post.author }}
                        </small>
                    </div>

                    <div class="card-body">
                        {{ post.content }}
                    </div>

                    <div class="card-footer">
                        Comment
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}